.nobold {
    font-weight: normal;
}
.indent {
    margin-left: 24px;
}
.close {
    margin-left: 10px;
}
img.photo-highlight {
    border-width: 3px;
    border-color: rgba(113, 179, 88, 0.502);
}
img.icon {
    width: 20px;
    height: 20px;
}
img.user {
    width: 36px;
    height: auto;
}
input.input-grid {
    margin-bottom: 4px;
}
.user-container {
    margin-right: 50px;
}
.user-container img.user {
    top: 7px;
    position: absolute;
    right: -49px;
}
a.pull-right {
}
a.pull-right img.media-object {
    margin-left: 10px;
}
.icon-align {
    padding: 2px 4px 2px 4px;
    display: inline-block;
    width: 28px;
    text-align: center;
}
i.icon-align {
    display: inline-block;
    width: 28px;
    font-size: 14px;
    text-align: center;
}
span.number-float-right {
    display: inline-block;
    float: right;
    text-align: right;
}
.dash-bottom {
    border-top: 1px dashed #ddd;
    padding: 5px 0px 5px 0px;
    margin-bottom: 20px;
}
.breadcrumb {
    margin: 0px 0px 10px 0px;
    display: inline-block;
}
.field-label {
    text-align: right;
}
.block-card {
    margin: 10px 10px 10px 10px;
    display: inline-block;
    width: 120px;
}
.alert-note {
    background-color: #fcf8e3;
    color: #c09853;
    border-width: 1px;
    border-color: #fbeed5;
    border-style: solid;
}
.text-muted {
}
.text-muted a {
    color: inherit;
}
a {
}
a span {
    text-decoration: inherit;
}
.dimmed {
    opacity: .6;
}
.gallery-card {
    margin: 2px 2px 2px 2px;
    display: inline-block;
    text-align: center;
}
a.tooltip-toggle {
    margin-right: -20px;
}
.license-box {
    display: inline-block;
    position: relative;
}
.license-box .copy-control {
    top: 0;
    left: 0;
    bottom: 0;
    border-width: 3px;
    position: absolute;
    right: 0;
}
.input-group-addon {
}
.input-group-addon .icon {
    line-height: inherit;
}
.bordered {
    border-radius: 3px;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
}
.license-action-panel > div {
    display: inline-block;
}
.license-action-btn {
    text-align: center;
    min-width: 70px;
    margin-right: 16px;
}
.license-action-btn span.left-caret {
    margin-left: 17px;
}
.license-filter {
    margin-right: 16px;
}
.btn-link {
    outline: none;
}
form.buy-link {
    display: inline-block;
}
form.buy-link div {
    display: inline-block;
}
.license-track-actions {
}
.license-track-actions form {
    display: inline-block;
}
.license-track-actions .input-group {
    vertical-align: middle;
    margin-right: 10px;
}
.license-track-actions span {
    margin-right: 10px;
}
